@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 280ms ease-out, background-color 280ms ease-out;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}
